@import "tailwindcss";

@theme {
  --color-primary: #337a5b;
  --color-secondary: #285a43;
}

@theme {
  --background-primary: #285a43;
}

@theme {
  --border-primary: #285a43;
}

.card-product {
  @apply bg-white rounded-lg shadow-sm relative;
}
